<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title> Hand Gesture Recognition </title>
  </head>
  <style>
    .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
  </style>
  <body>
    <br>
    
    <div class="container">
      <div class="wrapper">
        <h1 style="color: rgb(148, 148, 148);">Hand Gesture Recognition</h1><br><br>
        
        <img width="720px" height="400px" src="{{ url_for('video_feed') }}"><br><br>

        <img width="200px" height="200px" src="{{ url_for('video_feed_binary') }}"><br><br>

        <a href="/cnn"><button type="button" class="btn btn-primary">Train</button></a><br><br>
        
        <form method="post" action="/create_dataset">
          <input type="text" name="hgn" placeholder="Hand Gesture Name">
          <button type="submit" class="btn btn-primary">Add Hand Gesture</button>
        </form><br><br>

        <a href="/recognisation"><button type="button" id="rec" class="btn btn-primary">Start Recognition</button></a>
        <p style="font-size: 20px; color: rgb(243, 115, 10);">Sentence: {{sentence}}</p>
      </div>
    </div>
    <!-- <script>
      document.getElementById("rec").click();
    </script> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>